.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  /* justify-content: center; */
}

.pokemon-card {
  width: 200px;
  background-color: #f13d3d;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
  width: 100%;
  /* border-radius: 8px;  */
}

input {
  font-size: 18px;
  padding: 12px 20px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid rgb(181, 14, 14);
}

button {
  font-size: 18px;
  padding: 14px 20px;
  background-color: #d6301e;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 200px;
}
